---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 1
---
{% set maxPosts = collections.posts.length | min(5) %}
<h3>{% if maxPosts == 1 %} Dernier Post{% else %}{{ maxPosts }} Derniers Posts{% endif %}</h3>

{% set postslist = collections.posts | head(-5) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}