[build]
  command = "npm run build"
  publish = "dist"

[context.production]
  environment = { NODE_VERSION = "18.20.3", NODE_ENV = "production" }

[dev]
  command = "npm run watch"
  framework = "#custom"
  publish = "dist"
  port = 3000
  targetPort = 8182
  NODE_ENV = "development"

[[headers]]
  for = "/*"
    [headers.values]
    Cross-Origin-Resource-Policy = "same-site"
