---
layout: layouts/base.njk
templateClass: tmpl-home
---

<div class="intro">
J'écris de temps en temps sur divers sujets. Pour faire du tri, c'est <a href="/tags">par ici</a>.
</div>
<p class="quote">
"L'anarchie est la doctrine politique la plus exigeante. L'anarchie suppose en effet que chacun accepte une chose presque inconcevable : être libre. C'est-à-dire responsable."
 - CHARB

</p>
{{ content | safe }}

