---
layout: layouts/base.njk
templateClass: tmpl-home
---

<p class="quote">
"L'anarchie est la doctrine politique la plus exigeante. L'anarchie suppose en effet que chacun accepte une chose presque inconcevable : être libre. C'est-à-dire responsable."
 - CHARB

</p>
{{ content | safe }}

