---
layout: layouts/base.njk
templateClass: tmpl-home
---

<p class="quote">
"L'obligation faite à l'homme de dominer la nature découle directement de la domination de l'homme sur l'homme."
 - Murray Bookchin.
</p>

{{ content | safe }}

