---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts
  order: 1
---
{% set maxPosts = collections.posts.length | min(20) %}
<h3>Dernier Posts</h3>

{% set postslist = collections.posts | head(-20) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}